.main {
    /* 调整页面高度 */
    min-height: calc(100vh - 120px);    
}
.jumbotron-bg {
    background-image:url('../image/tech.png');
    background-size:100% 100%;
    background-position: center center;
    min-height: 300px;
    padding-top: 0;
    padding-left: 0;

}
.bg-ligther {
    background-color:rgba(255,255,255,0.35);
}
